body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

h3 {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}


.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(233, 231, 231, 0.2);
    margin: 10px auto;
    width: 450px;
    border: 0.1px solid darkgray;
    border-radius: 8%;
}

.item img {
    width: 400px;
    height: 230px;
    padding: 15px 0 0 0;
}

h4 {
    margin: 8px;
    color: #1e1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0 0 8px;
    font-family: cursive;
    font-size: 10px;
}

b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e1d1d;
}

button {
    border-radius: 20px;
    background-color: #1e1d1d;
    color: white;
    cursor: pointer;
    margin: 10px;
    width: 80px;
    height: 35px;
}